.picker {
  width: 100%;
  background: #f0f0f4;
  border-radius: 9px;
}

.picker .react-colorful {
  width: 100%;
}

.picker .picker__swatch {
  width: 24px;
  height: 24px;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
